html, body {
    margin: auto;
    padding: 10;
    background-color: lightgray;
    font-family: 'Tourney', cursive;
    text-align: center;
}
.container {
    display: block;
    margin: auto;
    width: 100%;

}
.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 8px black;
    justify-content: center;
}

.square {
    width: 20px;
    height: 20px;
}
.snake {
    background: green;
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
    transform: rotate(20deg);
  }
  .snake::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background:green;
    transform: rotate(135deg);
  }

.apple::before {
    content: '🍎';
}

#start {
    background-color: lightpink;
    color: black;
    padding: 10px;
}
